<!--
  The page class div acts as the main holder for the page contents
  This is the home page of the website
-->
<div class="page">
  <!--The navbar is the first item to be shown-->
  <app-nav-bar></app-nav-bar>
  <!--The main area will hold all of the display cards-->
  <div class="mainArea">
      <!--Display movie and tv card-->
        <a *ngFor="let movie of movies | async" routerLink="/movies">
          <div class="card" >
              <!--Image of the movie-->
              
              <div class="info">
                  <!--Popup info about the movie-->
                  {{movie.original_title}}
              </div>
          </div>
        </a>

        <a *ngFor="let movie of movies | async" routerLink="/shows">
          <div class="why">
              <!--Image of the movie-->
              <div class="info">
                  <!--Popup info about the movie-->
                  {{show.original_name}}
              </div>
          </div>
        </a>
    </div>
  </div>